* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.navbar {
    border-bottom: 1px;
    background: #fff;
}

.navbar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 120px 16px 120px;
    width: 100%;
}

.logo {
    width: 139px;
    height: 60px;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 32px;
    width: 365px;
    height: 24px;
}

nav a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    gap: 32px;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
}

.btn.primary.small {
    gap: 8px;
    padding: 12.5px 16px;
    border-radius: 4px;
    background-color: #469165;
    color: #fff;
    font-size: 14px;
    border: none;
    width: 164px;
    height: 44px;
}

.btn.primary.small:hover {
    background-color: #36754c;
}

.hero {
    width: 100%;
    height: 674px;
    position: relative;
    overflow: hidden;
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.container-hero-content {
    position: relative;
    max-width: 1360px;
    height: 379px;
    margin: 115.5px  auto 179.5px auto;
    text-align: center;
    justify-content: center;
    color: #fff;
}

.badge {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    background-color: #ffffff;
    color: #4d926d;
    padding: 8px 20px;
    border-radius: 50px;
    font-weight: 500;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dot-ripple {
    width: 10px;
    height: 10px;
    background-color: #4d926d;
    border-radius: 50%;
    position: relative;
    box-shadow: 0 0 0 4px rgba(77, 146, 109, 0.3),
    0 0 0 8px rgba(77, 146, 109, 0.15);
    margin-left: 5px;
    margin-right: 5px;
}

.container-hero-content h1{
    font-size: 48px;
    font-weight: 900; 
    margin-top: 16px;
    line-height: 50px;
}
.container-hero-content h1 span {
    color: #30B868;
    font-weight: 900;
}

.container-hero-content p { 
    width: 720px; 
    margin: 0 auto;   
    line-height: 24px;
    font-size: 1.1rem; 
    margin-top: 12px;
}
.hero-buttons {
    display: flex;
    gap: 16px;
    justify-content: center; 
    margin-top: 32px;
}

.btn {
    display: inline-flex;
    align-items: center;
    padding: 12px 24px;
    border-radius: 8px; 
    font-family: sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.3s ease;
    gap: 10px;
}


.btn.primary {
    background-color: #4d926d; 
    color: #ffffff;
    border: 2px solid #4d926d;
}

.btn.primary:hover {
    background-color: #3e7557;
    border-color: #3e7557;
}

.btn.secondary {
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #ffffff; 
}

.btn.secondary:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.btn svg {
    width: 18px;
    height: 18px;
}


.problems-section{
    text-align: center;
    padding: 60px 20px;
    max-width: 1360px;
    max-height:300px;
    margin: 0 auto;
}

.problem-item h2 {
    font-size: 48px;
    color: #001931;
    margin-bottom:10px;
    font-weight: 800;
    text-align: center;
}
.problem-description {
    color:#0f172a;
    font-size: 16px;
    margin-bottom: 50px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    max-width: 1360px;
    max-height: 300px;
}

.card {
    flex:1;
    max-width: 322px;
    max-height: 300px;
    padding:40px 20px;
    background:#fcf6f6;
    border-radius:4px;
}
.card img {
    width:50px;
    height:50px;
    margin-bottom:20px;
    background-color: #ff5c5c;
    border-radius: 50%;
    padding: 12px;
    margin-bottom: 20px;
    object-fit: contain;
}
.card h3 {
    font-size: 20px;
    color:#0f172a;
    margin-bottom:15px;
    font-weight: 700;
}

.card p {
    font-size:14px;
    color:#64748b;
    line-height: 1.6;
}

.solution {
    padding: 80px 10%;
    background-color: #ffffff;
    justify-content: center;
    margin-top: 61px;
    max-height: 840px;
}

.solution-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    max-width: 1360px;
    max-height: 600px;
    margin: 120px 120px 120px 120px;
}

.solution-image {
    flex:1;
    display: flex;
    justify-content: center;
}

.solution-image img {
    width: 100%;
    height: auto;
}

.solution-text {
    flex:1;
}

.label {
    display: block;
    color: #4ade80;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 16px;
}

.solution-text h2 {
    font-size: 48px;
    color: #0f172a;
    margin-bottom: 16px;
    font-weight: bold;
    line-height: auto;
}

.solution-text p {
    font-size: 16px;
    color: #64748b;
    line-height: 20px;
    margin-bottom: 40px;
}

.solution-text ul {
    list-style:none;
    padding:0;
}

.solution-text ul li {
    font-size:16px;
    display: flex;
    align-items: center;
    margin-bottom:15px;
    gap: 12px;
    color: #1e293b;
    font-weight: 600;
}

.solution-text ul li img {
    width:20px;
    height:20px;
}
